/*mobile*/
@media only screen and (max-width: 767px) { 
._padd_tb50 {
    padding: 35px 0px;
}
._mar_b20 {
    margin-bottom: 12px;
}
._mar_b25 {
    margin-bottom: 16px;
}
._mar_b50 {
    margin-bottom: 30px;
}
/* Home */
.header_area {
    padding: 15px 0px 40px 0px;
}
.main_menu {
    display: none;
}
.main_menu_list li a {
    font-size: 14px;
    font-weight: 500;
    width: 118px;
    height: 32px;
    line-height: 34px;
}
.banner_sub {
    font-size: 17px;
}
.banner_video_btn {
    padding: 11px 20px;
    font-size: 14px;
}
.video_menu {
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
}
.video_menu img {
    width: 25px;
    height: 22px;
}
.section_title {
    font-size: 24px;
}
.section_sub {
    font-size: 16px;
}
.video_item {
    margin-bottom: 20px;
}
.all_videos {
    padding: 50px 0px 50px 0px;
}
.all_videos_title_area {
    position: static;
}
.all_videos_title {
    width: 100%;
    height: 170px;
    margin-bottom: 30px;
}
.gallary-grp {
    margin: 0px 15px;
}
.self-gallary {
    display: block;
}
.self-gallary .item {
    margin-bottom: 20px;
}
.newsletter_title {
    font-size: 25px;
}
.newsletter_form input[type="email"] {
    margin-right: 0px;
    margin-bottom: 20px;
}
.block_btn {
    padding: 7px 30px;
}
.footer_col {
    margin-bottom: 25px;
    text-align: center;
}
.footer_social {
    font-size: 21px;
}
.footer_social_list li a img {
    width: 18px!important;
    height: 18px;
}
.all_videos:after {
   display: none;
}
.more_video_btn {
    padding-top: 10px;
}
.newsletter_area {
    padding: 60px 0px;
}
.footer_top {
    border-radius: 0;
    padding: 60px 0px;
}
/* Videos  */
.sub_banner_title {
    font-size: 42px;
    letter-spacing: 20px;
}
.video_search_items {
    display: inherit;
}
input#search {
    width: 100%;
}
.search_select select {
    width: 81%;
}
.videos_slider .owl-nav div, .vlog_slider .owl-nav div, .full_vlog_slider .owl-nav div {
    left: 22px;
    font-size: 14px;
}
.videos_slider .owl-nav div.owl-next, .vlog_slider .owl-nav div.owl-next, .full_vlog_slider .owl-nav div.owl-next {
    left: auto;
    right: 0;
    transform: inherit;
}
/* Vlog */
.vlog_item.vlog_img {
    width: 100%;
    margin-bottom: 15px;
}
.vlog_item.vlog_cont {
    width: 100%;
    margin-bottom: 25px;
}
.vlog_order{
    order:2;
}
.single_vlog_slider {
    margin-bottom: 60px;
}
.single_page_cont_area {
    background-color: #101C5A;
    padding: 50px 0px 100px 0px;
}
/* About */
.about_banner_area .sub_banner_title {
    letter-spacing: 17px;
    line-height: 50px;
}
.sub_banner_sub {
    width: 100%;
}
.about_left_img1 {
    width: 100%;
    height: 255px;
}
.about_left_img2 {
    width: 100%;
    position: static;
}
.about_left {
    margin-bottom: 20px;
}
.about_cta_area {
    padding: 50px 0px 48px 0px;
    border-radius: 0%;
}
.cta_single_item_middle {
    position: static;
    transform: none;
}
.cta_single_title {
    font-size: 27px;
}
.cta_single_cont {
    font-size: 18px;
}
.cta_single_item {
    margin-bottom: 15px;
}

/* Contact */
.contact_img img {
    height: 406px;
    margin-bottom: 20px;
}
.contact_info_list li {
    margin-bottom: 15px;
}
.contact_info_list {
    margin-bottom: 30px;
}
.contact_form_area {
    margin-top: 40px;
}
.contact_info_list li:first-child span {
    font-size: 20px!important;
}
.form_title {
    font-size: 23px;
}
.banner_top {
    height: 18vh;
}
.side_menu {
    top: 22px;
    left: 32px;
}
.banner_title {
    font-size: 45px;
    letter-spacing: 24px;
    margin: 0 auto;
    width: 253px;
}
.banner_bottom {
    padding: 52px 0px;
}
.video_area {
    top: 10%;
    padding: 38px 0px;
    height: 288px;
}
.video_toggle {
    right: 16px;
    top: 7px;
    z-index: 111;
}
.single_vlogp_title {
    font-size: 28px;
}
.single_comment_user {
    flex: 100% 0 0;
    margin-bottom: 10px;
}
.single_comment {
    display: block;
    margin-bottom: 25px!important;
}
.single_comment_user_title {
    font-size: 20px;
}
.single_comment_date {
    font-size: 13px;
}
.newsletter_form input[type="email"] {
    width: 100%;
}
.video_area_overlay video {
    height: 220px;
}



}


/* ipad Tablet Layout: 768px._________________________________________________________________________________________________ */
@media only screen and (min-width: 768px) and (max-width: 991px) {

._mar_b20 {
    margin-bottom: 15px;
}
 /* Home */
 ._padd_tb50 {
    padding: 40px 0px;
}
.main_logo {
    height: 46px;
    width: 46px;
}
.main_menu_list li a {
    font-size: 14px;
    width: 100px;
    height: 33px;
    line-height: 33px;
}
.banner_top {
    height: 22vh;
}
.banner_title_letters li {
    font-size: 47px;
}
.banner_sub {
    font-size: 18px;
}
.banner_video_btn a {
    font-size: 15px;
}
.section_title {
    font-size: 28px;
}
.section_sub {
    font-size: 18px;
}
.all_videos_title {
    width: 106%;
}
.self-gallary.self-gallary-width {
    grid-auto-rows: 156px;
}

.all_videos:after {
    height: 33vh;
}
.newsletter_title {
    font-size: 30px;
}
.newsletter_form input[type="email"] {
    margin-bottom: 20px;
}
.footer_col, .footer_col a {
    font-size: 15px;
}
 /* Videos */
.sub_banner_title {
    font-size: 50px;
    letter-spacing: 66px;
}
.videos_slider .owl-nav div, .vlog_slider .owl-nav div, .full_vlog_slider .owl-nav div {
    left: 36%;
    font-size: 14px;
}
.videos_slider .owl-nav div.owl-next, .vlog_slider .owl-nav div.owl-next, .full_vlog_slider .owl-nav div.owl-next {
    left: 65%;
}
.sub_banner_sub {
    width: 78%;
}


 /* Vlog */
 .vlog_share_list li img {
    width: 20px!important;
    height: 20px;
}
.vlog_item.vlog_img {
    width: 290px;
}
.vlog_share_list li {
    margin-right: 58px;
}
.vlog_sub {
    -webkit-line-clamp: 4;
}

 /* Vlog Single*/
.single_comment_user_img {
    flex: 45px 0 0;
}
.single_comment_user_info {
    padding-left: 10px;
}
.single_comment_user_title {
    font-size: 17px;
}
.single_comment_date {
    font-size: 12px;
}
.single_comment_cont {
    padding: 10px 15px;
    margin-left: 5px;
}
.single_comment_cont p{
    font-size: 14px;
}

/* About */
.about_banner_area .sub_banner_title {
    letter-spacing: 45px;
}
.about_left_img1 {
    width: 345px;
    height: 248px;
}
.about_left_img2 {
    width: 328px;
    right: 0px;
}
.cta_single_title {
    font-size: 32px;
}
.cta_single_cont {
    font-size: 21px;
}

/* Contact */
.contact_info_list li:first-child span {
    font-size: 20px!important;
}
.contact_info_list li {
    margin-bottom: 10px;
    font-size: 15px;
}
.contact_info_list {
    margin-bottom: 55px;
}
.contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 15px;
}
.form_title {
    font-size: 22px;
}
.contact_area .footer_social_list li a img {
    width: 16px!important;
    height: 17px;
}
.contact_info_list li span {
    font-size: 16px;
}
.banner_title {
    font-size: 52px;
    letter-spacing: 40px;
}
.banner_bottom {
    top: 490px;
}



}


/* Medium Layout: 1280px.__________________________________________________________________________________________________ */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 


}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}