
*{
    margin: 0px;
    padding: 0px;
}
html{
    color: #333;
    padding: 0px;
    margin: 0 auto;
}
/*@font-face {
    font-family: ab;
    src: url('../assets/fonts/helveticaneue.ttf');
}
*/

body{
	margin:0px auto;
	padding:0px;
    font-family: 'Lato', sans-serif;
}
p {
    font-size: 16px;
    margin: 0px;
    color: #283B62;
    line-height: 25px;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 17px;
}
h1,h2,h3,h4{
    margin: 0px;
    color:#283B62;
}
li:last-child{
    margin-right: 0px!important;
}
ul{
    padding: 0;
    margin: 0px;
    list-style: none;
}
a{
    color: #283B62;
}
a:hover{
    text-decoration: none;
    color:#5272b2;
    transition: .5s;
}
textarea {
    resize: none !important;
}
button, select{
    cursor: pointer;
}
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
    box-shadow: none;
}
ul{
	padding:0px;
	margin:0px;
}
img{
	width:100%;
	display:block;
}
input[type="checkbox"] {
    cursor: pointer;
}
.p-0{
    padding: 0px;
}
.menu_active a{
   color: #5272b2!important; 
}
/*.active, .active i, .active a {
    color: #CBB492!important;
}*/
.box_shadow{
    box-shadow: 0px 3px 21px -2px rgba(149, 149, 247, 0.25);
}
.border_color{
    border-color:#e7e7e7!important;  
}
.fw_600{
    font-weight: 600;
}
/*margin top*/
._mar_t10{
    margin-top: 10px;
}
._mar_t15{
    margin-top: 15px;
}
._mar_t20{
    margin-top: 20px;
}
._mar_t25{
    margin-top: 25px;
}
._mar_t30{
    margin-top: 30px;
}
._mar_t60{
    margin-top:60px;
}

/*margin bottom*/
._mar_b10{
    margin-bottom: 10px;
}
._mar_b15{
    margin-bottom: 15px;
}
._mar_b20{
    margin-bottom: 20px;
}
._mar_b25{
    margin-bottom: 25px;
}
._mar_b30{
    margin-bottom: 30px;
}
._mar_b50{
    margin-bottom: 50px;
}

._mar_r10{
    margin-right: 10px;
}
._mar_r15{
    margin-right: 15px;
}


/* padding */
._padd15{
    padding: 15px;
}
._padd20{
    padding:20px;
}
._mar20{
    margin: 20px;
}

/*padding top bottom*/
._padd_tb15{
    padding: 15px 0px;
}
._padd_tb20{
    padding: 20px 0px;
}
._padd_tb30{
    padding: 30px 0px;
}
._padd_tb40{
    padding: 40px 0px;
}
._padd_tb90{
    padding: 90px 0px;
}
._padd_b60{
    padding-bottom: 60px;
}


/*padding top*/
._padd_t10{
    padding-top: 10px;
}
._padd_t15{
    padding-top: 15px;
}
._padd_t20{
    padding-top: 20px;
}
._padd_t25{
    padding-top: 25px;
}

/*padding bottom*/
._padd_b5{
    padding-bottom: 5px;
}
._padd_b10{
    padding-bottom: 10px;
}
._padd_b15{
    padding-bottom: 15px;
}
._padd_b20{
    padding-bottom: 20px;
}
._padd_b25{
    padding-bottom: 25px;
}

/*padding left*/
._padd_l10{
    padding-left: 10px;
}
._padd_l15{
    padding-left: 15px;
}
._padd_l20{
    padding-left: 20px;
}
._padd_l25{
    padding-left: 25px;
}

/*padding right*/
._padd_r10{
    padding-right: 10px;
}
._padd_r15{
    padding-right: 15px;
}
._padd_r20{
    padding-right: 20px;
}
._padd_r25{
    padding-right: 25px;
}