

/* ========= Header Start ========= */
.header_area {
    background-color: #0D1956;
    padding: 15px 0px 110px 0px;
    position: relative;
}
.main_menu {
    text-align: center;
}
.main_logo {
    height: 50px;
    width: 50px;
    background-color: #612460;
    display: flex;
    align-items: center;
    border-radius: 14px 1px 14px 14px;
    cursor:pointer;
}
.main_logo img {
    height: 26px;
    width: 26px;
    margin: 0 auto;
}
.main_menu_list li {
    display: inline-block;
}
.main_menu_list li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    width: 120px;
    height: 38px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 14px 1px 14px 14px;
}
.active_menu{
	 background-color: #612460;
     background-image: linear-gradient(to right ,#612460 ,#7C265F, #872A68);
}


/* ========= Header end ========= */

/* ========= Banner start ========= */
.banner_area {
    background-color: #0D1956;
}

.banner_top {
    background-image: url(../img/jakob-owens-YMT2OTm5Zos-unsplash.png);
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
     height: 50vh;
}
.banner_top:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0F1B59;
    left: 0;
    top: 0;
    opacity: .5;
}


.banner_bottom {
    background-color: #fff;
    padding: 70px 0px;
}
.banner_title {
    font-size: 53px;
    font-weight: 800;
    letter-spacing: 115px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    width: 100%;
}
.banner_cont {
    position: relative;
}
.banner_video_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    cursor: pointer;
}








.banner_sub {
    margin-top: 80px;
    padding: 6px 22px;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
}
.banner_video_btn {
    display: inline-block;
   background-image: linear-gradient(to right ,rgba(16,28,90,.7), rgba(248,76,189,.4));
    padding: 12px 36px;
    border-radius: 30px; 
}
.banner_video_btn a{
	color:#fff;
}
.banner_video_btn img {
    width: 18px!important;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
}
.video_menu {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #612460;
    display: flex;
    align-items: center;
    border-radius: 14px 1px 14px 14px;
    width: 47px;
    height: 47px;
    cursor: pointer;
}
.video_menu img{
	width: 30px;
	height: 26px;
	margin:0 auto;
}



/* ========= Banner end ========= */


/* ========= Latest video start ========= */
.latest_videos{
	background-color: #0F1B58;
}
.video_item {
    margin-bottom: 30px;
}
.section_title{
	 font-family: 'Oswald', sans-serif;
	 font-size: 30px;
	 font-weight: 500;
	 text-transform: uppercase;
}
.section_sub{
	font-size:20px;
}
.section_title_area{
	color:#fff;
}


/* ========= Latest video end ========= */



/* ========= Video start ========= */
.all_videos {
    position: relative;
    padding: 150px 0px 50px 0px;
}
.all_videos_title_area {
    position: absolute;
    top: 50px;
}
.all_videos_title {
    display: inline-block;
    background-color: #73E9E1;
    width: 200%;
    height: 200px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 31px 70px;
    font-size: 25px;
    text-align: center;
}
.all_videos:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 60vh;
    background-color: #101C5A;
    bottom: 0;
    z-index: -1;
}
.more_video_btn {
    padding-top: 28px;
  }
/* ========= Video end ========= */





/* ========= Newsletter start ========= */
.newsletter_area {
    background-color: #101C5A;
    padding: 100px 0px;
}
.newsletter_title {
    font-size: 32px;
    font-weight: 700;
}
.newsletter_form input[type="email"] {
    background-color: transparent;
    border: none;
    color: #fff!important;
    border-bottom: 1px solid #fff;
    width: 300px;
    margin-right: 20px;
    padding: 10px 0px;
}
.newsletter_form input[type="email"]::-webkit-input-placeholder {
  color: #fff;
}
.newsletter_cont {
    color: #fff;
}

/* ========= Newsletter end ========= */

/* ========= Footer start ========= */
.footer_area{
	background-color: #101C5A;
}
.footer_top {
    background-color: #0D1853;
   /* border-radius: 1500% 1500% 280% 280%/1210% 1055% 0% 0%;*/
    padding:100px 0px;
}
.footer_col, .footer_col a{
	color:#fff;
    transition: .5s;
}
.footer_col a:hover{
    color:#73E9E1;
}
.footer_col_cont {
    padding: 0px 20px 0px 0px;
}
.footer_menu_list li, .privacy_term_list li {
    margin-bottom: 5px;
}
.footer_social_list li {
    display: inline-block;
    margin-right: 12px;
}
.footer_social_list li a img {
    width: 20px!important;
    height: 20px;
    transition: .5s;
}
.footer_social_list li a img:hover {
    transform: scale(1.1);
}
.footer_social {
    font-size: 22px;
    margin-bottom: 8px;
}




.footer_bottom{
	background-color: #09144D;
	padding: 20px 0px;
}
.footer_copyright{
	color:#fff;
}
/* ========= Footer end ========= */




.self-gallary {
    font-weight: 600;
    display: grid;
    grid-gap: 15px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}
.self-gallary .item {
    background: transparent;
    color: #fff;
    display: grid;
    overflow: hidden;
    border-radius: 3px;
    align-items: stretch;
    position: relative;
}
.self-gallary-height .item:nth-child(4) {
    grid-row: span 2;
}
.self-gallary.self-gallary-width {
    grid-auto-rows: 200px;
}
.self-gallary-width .item:nth-child(4) {
    grid-column: span 2;
}
.video_btn {
    background-color: rgb(248,76,189,.4);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75px;
    text-align: center;
    padding: 10px 10px;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    cursor: pointer;
}
.video_btn img {
    width: 20px!important;
    height: 20px;
    margin: 0 auto;
}


/* =========================================
              Contact Page
   ======================================== */

.sub_banner_area{
	background-color: #fff;
	color:#000;
}
.sub_banner_title {
    font-size: 53px;
    font-weight: 800;
     letter-spacing: 2.2em; 
    width: 100%;
    margin: 0 auto 30px auto;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center!important;
}
.sub_banner_sub {
    width: 65%;
    margin: 0 auto;
}

.single_page_cont_area {
    background-color: #101C5A;
    padding: 50px 0px 300px 0px;
}
.contact_info_list {
    color: #fff;
    margin-bottom: 100px;
}
.contact_info_list li {
    margin-bottom: 25px;
    font-size: 16px;
}
.contact_info_list li span {
    display: block;
    font-weight: 600;
}
.contact_info_list li:first-child span{
    font-weight: 700;
    font-size: 22px!important;
}
.contact_social .footer_social {
    color: #fff;
}
.contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea {
    padding: 12px 20px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #0B143F;
    border: none;
    font-size: 15px;
}
.contact_form input::-webkit-input-placeholder , .contact_form textarea::-webkit-input-placeholder{
  color: #fff;
}
.contact_form input[type="submit"]
{
	text-transform: uppercase;
	font-weight: 600;
}
.contact_form_cont {
    color: #fff;
}
.form_title {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.side_menu_overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s linear;
    z-index: 999;
}
.side_menu {
    background: #fff;
    position: absolute;
    width: 230px;
    height: fit-content;
    top: 0;
    left: 150px;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 3px;
    box-shadow: -1px 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    opacity: 0;
    padding: 30px 28px;
    max-height: 451px;
}

.side_menu_modal_fadeIn {
    opacity: 1;
    visibility: visible;
}
.side_menu_modal_show {
    transform: translate(10%, 10%);
    opacity: 1;
}

.side_menu .main_menu_list li {
    display: block;
    margin-bottom: 20px;
}
.side_menu .main_menu_list li a {
    color: #000;
}
.side_menu .active_menu {
    color: #fff!important;
}

.side_menu_close {
    background: #612460;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 6px;
    cursor: pointer;
}


/* =========================================
              Vlog Page
   ======================================== */
.vlog_banner_area .sub_banner_title {
    width: 50%;
    margin: 0 auto 30px auto;
}
input#search {
    padding: 10px 30px;
    transition: .5s;
    border: none;
    border-bottom: 1px solid #fff;
    width: 300px;
    background-color: transparent;
    color:#fff;
}

#search::-webkit-input-placeholder{
    color:#fff;
}
.search_icon img {
    width: 20px;
    height: 20px;
}

.search_form {
    position: relative;
}
.search_icon {
    position: absolute;
    bottom: 14px;
    cursor: pointer;
    transition: .3s;
}
#search:focus {
  background-color: #0D1853;
  border-color:#ddd;
}
#search:focus::-webkit-input-placeholder{
    color:#ddd;
}

/* Vlog Item*/
.vlog_item{
    position: relative;
    color:#fff;
}
.vlog_share_list li {
    display: inline-block;
    margin-right: 70px;
}
.vlog_share_list li img {
    width: 23px!important;
    height: 23px;
}
.vlog_share_list {
    background-color: #08134D;
    padding: 7px 15px;
    display: inline-block;
    border-radius: 7px;
}
.vlog_item.vlog_img {
    width: 430px;
}
.vlog_item.vlog_cont {
    width: 77%;
}
.vlog_title {
    font-size: 25px;
}
.vlog_sub {
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}






/* =========================================
              Videos Page
   ======================================== */
.video_search_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_select select{
    padding: 10px 0px;
    transition: .5s;
    border: none;
    border-bottom: 1px solid #fff;
    width: 200px;
    background-color: transparent;
    color: #fff;
}
.item_select{
     width: 60px!important;
}

.single_video_item{
    margin-bottom: 30px;
    position: relative;
}
.search_select option {
    color: #000;
}

.single_video_item .video_btn img{
    width: 20px!important;
}

.videos_slider .owl-nav div, .vlog_slider .owl-nav div, .full_vlog_slider .owl-nav div{
    position: absolute;
    left: 39%;
    transform: translateX(-50%);
    bottom: -40px;
    color: #D4D4D4;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 15px;
    transition: .5s;
}
.videos_slider .owl-nav div.owl-next, .vlog_slider .owl-nav div.owl-next, .full_vlog_slider .owl-nav div.owl-next {
    left: 61%;
    right: auto;
}



.single_video_item img {
    display: inline-block!important;
}
.video_menu_share {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #612460;
    display: flex;
    align-items: center;
    border-radius: 12px 12px 12px 0px;
    width: 44px;
}
.video_menu_share_list {
    margin: 12px auto;
}
.video_menu_share_list li {
    margin-bottom: 12px;
    cursor: pointer;
}
.video_menu_share_list li img {
    width: 20px!important;
}
.video_menu_share_list li:last-child {
    margin-bottom: 0px;
}


/* =========================================
              About Page
   ======================================== */
/* about left */
.about_banner_area .sub_banner_title {
    letter-spacing: 87px;
}
.about_left {
    position: relative;
    z-index: 11;
}
.about_left_img1 {
    width: 390px;
    height: 280px;
    z-index: 1;
}
.about_left_img1 img{
    box-shadow: -1px -3px 8px rgba(15,27,88);
}
.about_left_img2 {
    width: 360px;
    position: absolute;
    top: 59%;
    right: 70px;
    z-index: -1;
}
.about_left_img2 img{
    height: 470px;
}

/* about right */
.about_right {
    color: #fff;
}


.about_cta_area_bg{
    background-color: #101C5A;
}
.about_cta_area {
    padding: 100px 0px;
    background-color: #fff;
    position: relative;
}
.cta_single_title {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 36px;
}
.cta_single_cont {
    font-size: 22px;
    font-weight: 800;
}
.about_footer_area{
    background-color: #fff!important;
}
.cta_single_item{
    font-family: 'Oswald', sans-serif;
}






/* =========================================
              Single Vlog Page
   ======================================== */
.single_vlogp_img_area{
    position: relative;
}
.single_vlogp_cont {
    color: #fff;
}
.single_vlog_slider {
    margin-bottom: 120px;
}
.single_vlogp_title{
    font-size:30px;
}
.single_P_vlog_slider {
  margin-bottom: 120px;
}
.single_P_vlog_slider .owl-nav div{
    position: absolute;
    left: 20px;
    transform: translateX(-50%);
    bottom: -80px;
    color: #D4D4D4;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 15px;
    transition: .5s;
}
.single_P_vlog_slider .owl-nav div.owl-next {
    left: auto;
    right: -20px;
}
.videos_slider .owl-nav div:hover, .vlog_slider .owl-nav div:hover, .single_P_vlog_slider .owl-nav div:hover{
    color:#73E9E1;
}

/* Vlog Comment */
.write_comment_title {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.single_comment {
    display: flex;
}
.comment_write textarea {
    width: 100%;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #08134D;
    border:none;
}
.single_comment_user {
    flex: 30% 0 0;
    display: flex;
    align-items: center;
}
.single_comment_user_img {
    flex: 62px 0 0;
}
.single_comment_user_info {
    padding-left: 20px;
    color: #fff;
}
.single_comment_user_title {
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
}
.single_comment_date {
    font-size: 14px;
    font-weight: 300;
}
.single_comment_cont {
    color: #fff;
    padding: 12px 20px;
    background-color: #08134D;
    border-radius: 20px;
    width: 100%;
}
.comment_write textarea::-webkit-input-placeholder{
    color:#fff;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999999;
    width: 100%;
    height: auto;
}
#status {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/preloader.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}



/* Pagination */
.pagination_area {
    margin-top: 30px;
}
.pagination_nav {
    color: #fff;
    text-align: center;
}
.pagination_nav li {
    display: inline-block;
    margin-right: 5px;
    color: #D4D4D4;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 15px;
    transition: .5s;
     width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
     text-align: center; 
}
.pagination_nav li:first-child,.pagination_nav li:last-child{
    width: auto;
    font-weight: normal;
}
.pagination_nav li:first-child{
    margin-right: 10px;
}
.pagination_nav li:last-child{
    margin-left: 10px;
}
.pagination_nav li:hover{
    color: #000;
    background-color: #73E9E1;   
}
.pagination_active{
    color: #000!important;
    background-color: #73E9E1;
}
.pagination_nav li:first-child:hover,.pagination_nav li:last-child:hover{
    color: #73E9E1;
    background-color: transparent;
}




/* Video POpup */
.video_area_overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #101C5A;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s linear;
    z-index: 999;
}
.video_area {
    background: #fff;
    position: relative;
    max-width: 580px;
    width: 100%;
    top: 20%;
    left: 0;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 3px;
    box-shadow: -1px 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    opacity: 0;
    padding: 46px 40px;
    height: 372px;
}
.video_toggle {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    color: #000;
}
.video_modal_fadeIn {
    opacity: 1;
    visibility: visible;
}
.video_modal_show {
    transform: translate(0, 10%);
    opacity: 1;
}
.video_area_overlay video{
    width:100%;
}
.sub_banner_video_title {
    letter-spacing: 2.8em;
}


.vlog_pagination .pagination_nav {
    display: flex;
    justify-content: space-between;
}


