*{
    margin: 0px;
    padding: 0px;
}
html,body{
    color: #333;
    padding: 0px;
    margin: 0 auto;
    /* font-family: 'Open Sans', sans-serif; *
    /* background-color: #f9f9ff; */

    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}
p {
    font-size: 15px;
    margin: 0px;
    line-height: 24px;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 17px;
}
h1,h2,h3,h4{
    margin: 0px;
}
ul{
    padding: 0;
    margin: 0px;
    list-style: none;
}
li:last-child {
    margin-right: 0px!important;
}
textarea {
    resize: none !important;
}
button, select{
    cursor: pointer;
}
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
    box-shadow: none;
}
ul{
	padding:0px;
	margin:0px;
}
img{
	width:100%;
	display:block;
}
a:hover{
    text-decoration: none;
}
input[type="submit"] {
    cursor: pointer;
}
._content{
    padding-top: 80px;
}
._content2{
    padding-top: 50px;
}
.block_btn {
    display: inline-block;
    background-color: #FF7142;
    color: #fff;
    border: 2px solid #FF7142;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
    transition:.5s;
}
.block_btn:hover {
    background-color: #ea450e;
    border-color: #ea450e;
    color:#fff;
}
.white_border_btn {
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 25px;
    background-color: transparent;
    font-weight: 600;
    transition:.5s;
    text-transform: capitalize;
}
.white_border_btn:hover {
    background-color: #fff;
    color:#FF7142;
}
.white_btn {
    background-color: #fff;
    color: #FF7142;
    border-color: #fff;
    margin-left: 10px;
}
.white_btn:hover{
    color:#fff;
}

/*box shadow*/
._box_shadow {
    background: #fff;
    box-shadow: 0px 3px 21px -2px rgba(149, 149, 247, 0.25);
}
._box_shadow2 {
    background: #fff;
    box-shadow: 0px 3px 21px -2px rgba(149, 149, 247, 0.25);
}

/* Border color */
._border_color{
    border-color:#e7e7e7 !important;  
}
/*display*/
._flex_row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._dis_flex{
	display:flex;
}
._flex_space{
	flex:1 1;
}
/*margin top*/
._mar_t10{
    margin-top: 10px;
}
._mar_t15{
    margin-top: 15px;
}
._mar_t20{
    margin-top: 20px;
}
._mar_t25{
    margin-top: 25px;
}
._mar_t30{
    margin-top: 30px;
}

/*margin bottom*/
._mar_b10{
    margin-bottom: 10px;
}
._mar_b15{
    margin-bottom: 15px;
}
._mar_b20{
    margin-bottom: 20px;
}
._mar_b25{
    margin-bottom: 25px;
}
._mar_b30{
    margin-bottom: 30px;
}
._mar_b50{
    margin-bottom: 50px;
}

._mar_20{
    margin: 20px;
}

/*padding*/
._padd15{
    padding: 15px;
}
._padd20{
    padding: 20px;
}

/*padding top bottom */
._padd_tb10{
    padding: 10px 0px;
}
._padd_tb15{
    padding:15px 0px;
}
._padd_tb20{
    padding:20px 0px;
}
._padd_tb60{
    padding:60px 0px;
}

/*padding top*/
._padd_t10{
    padding-top: 10px;
}
._padd_t15{
    padding-top: 15px;
}
._padd_t20{
    padding-top: 20px;
}
._padd_t25{
    padding-top: 25px;
}

/*padding bottom*/
._padd_b10{
    padding-bottom: 10px;
}
._padd_b15{
    padding-bottom: 15px;
}
._padd_b20{
    padding-bottom: 20px;
}
._padd_b25{
    padding-bottom: 25px;
}

/*padding left*/
._padd_l10{
    padding-left: 10px;
}
._padd_l15{
    padding-left: 15px;
}
._padd_l20{
    padding-left: 20px;
}
._padd_l25{
    padding-left: 25px;
}

/*padding right*/
._padd_r10{
    padding-right: 10px;
}
._padd_r15{
    padding-right: 15px;
}
._padd_r20{
    padding-right: 20px;
}
._padd_r25{
    padding-right: 25px;
}


._padd_r0{
    padding-right:0px;
}


