
/*======================= Header ======================*/
.header_area{
    position: relative;
}
.menu_area {
    position: absolute;
    top: 40px;
    z-index: 11;
    background-color: #fff;
    width: 100%;
    transition: all .2s;
}
.topbar_area {
    padding: 8px 0px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 1111;
}
.topbar_main, .main_menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
}
.topbar_left li, .topbar_right li {
    display: inline-block;
    margin-right: 13px;
    color: #fff;
    font-size: 13px;
}
.topbar_left li a, .topbar_right li a{
	color:#fff;
	font-size: 13px;
}
.topbar_right li i {
    font-size: 12px;
}
.logo{
	width: 150px;
}
.navbar_home {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 111;
    background-color: #fff;
    padding: 12px 0px;
    border-bottom: 1px solid #ddd;
}
.nav_list li a , .nav_list li span{
    color: #333;
    transition: .5s;
    font-size: 16px;
}
.nav_list li a:hover, .nav_list li span:hover{
     color:#FF7142;
}
/* =========== Dropdown menu ============ */
.nav_list li {
    position: relative;
    display: inline-block;
    margin-right: 35px;
    cursor:pointer;
}
.sub-menu {
    position: absolute;
    width: 150px;
    background: #fff;
    top: 100%;
    left: 0;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0px 3px 21px -2px rgba(149, 149, 247, 0.25);
    z-index: 10;
    margin-top: 21px;
    padding: 12px;
    border: 1px solid #f7f9fbad;
    transform: translateY(0);
    transition: all 0.3s;
    opacity: 1;
    pointer-events: none;
}
.sub-menu li {
    margin-bottom: 10px;
    display:block;
}
.sub-menu li:last-child {
    margin-bottom: 0px;
}
.nav_list li span i {
    padding-left: 1px;
    font-size: 14px;
}
.menu_active, .menu_active span{
    color:#FF7142!important;
}
.login_header_area {
    border-bottom: 1px solid #ddd;
}

/*======================= Banner ======================*/
.banner_area {
    background-color: #F7F6F9;
    position: relative;
    background-image: url(../img/1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    z-index: 1;
}
.banner_area:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: -1;
}
.banner_main {
    display: inline-flex;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}
.banner_left {
    width: 75%;
}
.title {
    font-weight: 600;
    font-size: 42px;
    line-height: 54px;
    color:#fff;
}
.subtitle {
    color: #fff;
}
.food{
    color:#FF7142;
    font-size: 50px;
}
.banner_left_img {
    width: 50px;
    height: 50px;
    position: relative;
}
.banner_left_img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .2;
    border-radius: 50%;
}
.promo-video {
    position: relative;
}
.promo-video a {
    width: 50px;
    height: 45px;
    line-height: 38px;
    text-align: center;
    color: #FF7142;
    border-radius: 12px;
    border: 4px solid #FF7142;
    display: inline-block;
}

video:-webkit-full-page-media {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 50%!important;
    max-width: 50%!important;
    margin: auto;
}
video{
    width: 100px;
    height: 100px;
}


/*======================= About ======================*/
.about_area {
    position: relative;
}

.about_left{
    position: relative;
   background-color:#F7F6F9;
    padding: 19px 22px;
    border-left: 2px solid #FF7142;
}
.about_left::before {
    position: absolute;
    content: '';
    left: 0;
    width: 50%;
    height: 20px;
    top: 0px;
    border-top: 2px solid #FF7142;
    border-right: 2px solid #FF7142;
}
.about_left::after {
    position: absolute;
    content: '';
    left: 0;
    width: 50%;
    height: 20px;
    bottom: 0px;
    border-bottom: 2px solid #FF7142;
    border-right: 2px solid #FF7142;
}

.about_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.welcome {
    font-size: 26px;
}
.section_title_area{
	text-align: center;
}
.section_title {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

/*======================= Top Item ======================*/
.top_item_area {
    background-color: #F7F6F9;
}
.top_item{
	text-align: center;
	border-radius: 5px;
    margin-bottom: 30px;
}
.top_item_img{
	border:7px  solid #F7F6F9;
	border-radius: 50%;
	padding: 15px;
}
.top_item_img img {
    border-radius: 50%;
    height: 182px;
}
.top_item{
	background-color: #ff714238;
}
.top_item_title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.top_item_price{
	font-weight: 600;
     color: #333;
}

/*======================= Food ======================*/
.food_menu {
    display: inline-flex;
    margin-bottom: 38px;
    margin-top: 15px;
}
.food_menu li {
    border-right: 1px solid #fff;
}
.single_food {
    position: relative;
    margin-bottom: 30px;
}
.single_food:hover::after {
    opacity: .4;
}
.single_food:hover .food_effect{
    opacity: 1;
}
.food_effect {
    color: #fff;
    font-size: 22px;
}
.food_menu li a {
    color: #000;
    font-weight: 600;
    font-size: 15px;
    transition: .5s;
    padding: 5px 12px;
    background-color: #F7F6F9;
}
.food_menu li a:hover {
    color: #fff!important;
    background-color: #FF7142;
}
.food_cont {
    padding-left: 10px;
    position: relative;
}
.food_cont_title {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    display: -webkit-box;
    width: 130px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.food_cont_sub {
    font-size: 13px;
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.food_img img {
    width: 80px;
    height: 70px;
    border-radius: 50%;
}
.food_price {
    color: #FF7142;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 0;
}
.food_price:after {
    position: absolute;
    content: "";
    border-top: 1px dotted #000;
    right: 42px;
    top: 50%;
    width: 70px;
}
.font_cont_item{
    cursor: pointer;
}
.font_cont_item:hover{
    color:#FF7142;
}
 
/*======================= Blog ======================*/
.single_blog {
    margin-bottom: 30px;
}
.blog_img{
	position: relative;
}
.blog_img img {
    height: 265px;
}
.blog_date {
    background-color: #FF7142;
    width: 54px;
    height: 58px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.blog_date span {
    display: block;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
}
.blog_title {
    font-weight: 600;
}
.blog_cont1 {
    position: absolute;
    top: 192px;
    padding: 0px 15px;
}
.blog_cont2 {
    padding-top: 30px;
    background: #F7F6F9;
}
.blog_sub2 {
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*======================= CTA ======================*/
.cta_area {
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.cta_area:after{
    position: absolute;
    content: "";
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: -1;
}
.cta_right {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.cta_title {
    font-size: 40px;
}
.cta_title, .cta_sub{
	color:#fff;
}

.cta_left img {
    width: 360px!important;
    border: 7px solid #fff;
    height: 350px;
     float: right;
}
.cta_slider .owl-nav div {
    background-color: #fff;
    display: inline-block;
    color: #333132;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 60px;
    right: -33px;
    z-index: -1;
    transition: .4s;
}
.cta_slider .owl-nav div:hover{
    color:#fff;
    background-color: #FF7142;
}
.cta_slider .owl-nav div.owl-prev {
    bottom: 12px;
}
.gallery_area {
    position: relative;
    background-color: #F7F6F9;
}
.gallery{
     display: flex;
}
.gallery_title {
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px 0px;
}
.gallery_item {
    width: 50%;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    height: 200px;
}
.gallery_item img{
    height: 100%;
    transition: .4s;
}
.gallery_item:last-child{
    margin-right: 0px;
}
.gallery_item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #000;
    /* visibility: hidden; */
    transition: .5s;
    z-index: 1;
}
.gallery_expand {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 21px;
    transform: translate(-50%,-50%);
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: .5s;
}
.gallery_expand a{
    color:#fff;
}
.gallery_item:hover .gallery_expand{
    opacity: 1;
}
.gallery_item:hover::before{
    visibility: visible;
    opacity: .3;
    
}
.gallery_item:hover img{
    transform:scale(1.1);
}

/*======================= Contact ======================*/
.contact_left {
    background-color: #F7F6F9;
    padding: 25px;
}
.hour_title {
    text-align: center;
    font-size: 25px;
}
.hour_list{
    position: relative;
}
.open_hour {
    border: 1px solid #eae3e3;
    padding: 20px;
}
.hour_list li span {
    position: absolute;
    right: 0;
}
.hour_list li {
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #ddd;
    font-size: 15px;
}
.contact_right {
    margin-left: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.contact_title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.contact_info_list li span {
    font-weight: 600;
}
.contact_info_list li {
    font-size: 15px;
    margin-bottom: 5px;
}
.contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 5px 8px;
    font-size: 14px;
    width: 240px;
    margin-bottom: 10px;
}
.contact_form textarea {
    width: 495px;
    display: block;
    margin: 0 auto 30px auto;
}
.contact_form input[type="text"]{
    margin-right: 10px;
}
.contact_form input[type="submit"] {
    cursor: pointer;
    width: 190px;
}

/*======================= Footer ======================*/
.subscribe_area , .footer_main{
    background-color: #202020d4;
    text-align: center;
}
.subscribe_area{
    border-bottom: 1px dashed #ddd;
}
.subscribe {
    text-transform: uppercase;
    color: #fff;
    font-size: 34px;
}
.subscribe_area input[type="email"] {
    padding: 7px 10px;
    width: 300px;
    font-size: 15px;
}
.subscribe_area input[type="submit"] {
    padding: 8px 20px;
    cursor: pointer;
}
.footer_logo {
    margin: 0 auto 25px auto;
    width: 150px;
}
.fooetr_social ul li{
    display: inline-block;
    margin-right: 10px;
}
.fooetr_social ul li a, .copy_cont, .footer_menu li a{
    color:#fff;
}
.footer_menu li a {
    text-transform: uppercase;
    font-size: 14px;
}
.copy_cont{
    font-size:14px;
}

/*======================= About Page ======================*/
.sub_banner_area {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
}
.sub_banner_area:after{
    position: absolute;
    content: "";
    left:0;
    top: 0;
    width:100%;
    height:100%;
    background-color: #000;
    opacity: .3;
    z-index: -1;
}
.sub_banner {
    padding: 200px 0px 90px 0px;
    text-align: center;
    position: relative;
}
.testimonial_slider{
    background-color: #000;
}
.sub_banner_title {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.breadcrumb_area {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
}
.breadcrumb_area li{
    color:#fff;
}
.bViewcrumb_area {
    padding-top: 41px;
    float: left;
}
.bViewcrumb_area li {
    display: inline-block;
    color: #fff;
}
.page_active{
    color:#FF7142!important;
}
.breadcrumb_area li {
    display: inline-block;
    margin-right: 10px;
}
.breadcrumb_area li a, .bViewcrumb_area li a{
    color:#fff;
}
.bViewcrumb_arrow {
    padding: 0px 10px;
    font-size: 13px;
}
.chef_area {
    background-color: #F7F6F9;
}
.single_chef__item {
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 30px;
}
.chef_img {
    margin-bottom: 30px;
}
.single_chef {
    padding: 6px;
    border: 1px solid #ddd;
    position: relative;
    transition: .5s;
}
.single_chef:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: #FF7142;
    opacity: 0;
    transition: .7s;
}
.single_chef:hover.single_chef:after{
    opacity: .9;
}
.chef_cont{
    text-align: center;
}
.chef_cont {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 10px;
    opacity: 0;
    transition: .5s;
    z-index: 1;
    color: #fff;
}
.chef_sub {
    margin-top: 5px;
    font-size: 14px;
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.single_chef:hover .chef_cont{
    opacity: 1;
}
.chef_social {
    text-align: center;
    transition: .5s;
}
.chef_social_list {
    position: absolute;
    bottom: 0;
    right: 0;
}
.chef_social_list li a {
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    background-color: blue;
    color: #fff;
}
.chef_social_list li:first-child a{
    background-color: #3b5999;
}
.chef_social_list li:nth-child(2) a{
    background-color: #dd4b39;
}
.chef_social_list li:nth-child(3) a{
    background-color: #55acee;
}
.chef_social_list li:nth-child(4) a{
    background-color: #e4405f;
}
.single_chef:hover .chef_social{
    z-index: 11;
}
.single_chef:hover .chef_social {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
}
/*======================= Testimonial ======================*/
.testimonial_right img {
    height: 200px;
}
.testimonial_left {
    background-color: #fff;
    height: 80%;
    display: flex;
    align-items: center;
    position: relative;
}
.testimonial_slider .owl-nav div {
    background-color: #FF7142;
    display: inline-block;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: -40px;
}
.testimonial_slider .owl-nav .owl-prev{
    left:-40px;
}
.clint_title {
    width: 22%;
    position: relative;
}
.clint_title:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 68px;
    background-color: #000;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}
.testi_title {
    font-size: 17px;
}
.testi_sub {
    padding: 0px 20px;
    margin-top: 16px;
}
.testi_sub {
    padding-left: 20px;
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.testi_quote {
    position: absolute;
    top: 36px;
    left: 13px;
    color: #FF7142;
    font-size: 23px;
}


.about_cta_area {
    background-image: url(../img/6.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
}
.about_cta_area::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    opacity: .3;
    z-index: -1;
}
.about_cta_img img {
    width: 175px;
    height: 160px;
}
.about_cta{
    display:flex;
    align-items: center;
}
.about_cta_title {
    color: #fff;
    line-height: 37px;
    font-size: 28px;
    margin: 0px 15px;
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.about_cta_btn {
    width: 20%;
    text-align: center;
}
.contactp_form_img {
    width: 270px;
    margin: 0 auto;
}
.contact_p_right_cont {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.map_area iframe{
    width: 100%;
    height: 300px;
}
/*======================= Contact ======================*/

.con_info_top{
    background-color: #333;
}
.con_info_bottom {
    background-color: #F7F6F9;
    text-align: center;
}
.con_info_top h3 {
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
.con_info_bottom_list li{
   margin-bottom:10px;
}
.con_info_bottom img {
    width: 70px;
    height: 65px;
    margin: 0 auto 10px auto;
}

/*======================= Reservation ======================*/
.reservation_area {
    position: relative;
}
.reservation_left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.reservation_right {
    padding: 45px;
    text-align: center;
}
.reservation_left{
    border:1px solid #FF7142;
}
.form-box input {
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #e0d9d9;
}
.form-box select {
    width: 100%;
    padding: 5px;
    border: 1px solid #e0d9d9;
    color: #777;
}
.form-box input[type="date"] {
    color:#777;
}
.form-box {
    margin-bottom: 20px;
}
.reservation_right .hour_title {
    font-size: 28px;
}
.reservation-btn input[type="submit"] {
    width: 160px;
    margin-top: 20px;
}

/*======================= Menu ======================*/
.food_p_single_item {
    border: 1px solid #ddd;
    text-align: right;
    padding: 20px;
    margin-bottom: 20px;
}
.food_p_item_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    display: -webkit-box;
    width: 110px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.food_p_item_price {
    font-size: 18px;
    color: #FF7142;
    font-weight: 600;
}
.food_p_item_cont {
    padding: 25px 0px;
}
.food_p_item_img img {
    height: 108px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*======================= Menu ======================*/
.single_food_gallery{
    margin-bottom: 30px;
    position: relative;
    transition: .6s;
    text-align: center;
}
.single_food_gallery_effct .gallery_link {
    background-color: transparent;
    border: none;
}
.single_food_gallery::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .6s;
    background-image: linear-gradient(to right, #8882838a, #da123d);
    opacity: 0;
}
.single_food_gallery:hover::before{
	visibility:visible;
	opacity:.8;
}
.single_food_gallery_effct {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
    transition: .2s;
}
.food_btn {
    padding: 0;
    background-color: transparent;
    color: #333;
    border: none;
    margin-top: 12px;
    font-size: 15px;
    transition: .5s;
}
.food_btn:hover {
    color:#FF7142;
}
.food_btn span {
    padding-left: 3px;
}

/*======================= Login ======================*/
.login_area {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.login_area:after{
    position: absolute;
    content: "";
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color: #000;
    opacity: .3;
    z-index: -1;
}
.login_form {
    padding: 30px 20px;
    background-color: #fff;
    text-align: center;
}
.login_title {
    color: #fff;
    font-weight: 600;
}
.login_group {
    position: relative;
    margin-bottom: 20px;
}
.login_form input {
    width: 100%;
    padding: 10px 20px 10px 36px;
    font-size: 14px;
    border-radius: 1px;
    background-color: transparent;
    border: 1px solid #eae0e0;
    color: #333333b3;
}
.login_group .form_icon {
    position: absolute;
    left: 12px;
    top: 50%;
    font-size: 18px;
    transform: translateY(-50%);
}
.login_group label{
    color:#fff;
    text-transform: uppercase;
    font-size: 13px;
}
.login_form input[type="submit"] {
    background-color: #FF7142;
    border-color: #FF7142;
    transition: .5s;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}
.login_form input[type="submit"]:hover{
    background-color: #ea450e;
    border-color:#ea450e;
}
.sign_in_list , .login_social{
    display: flex;
}
.sign_in_list li, .login_social li a {
    padding: 5px 10px;
    width: 100%;
    justify-content: space-around;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 15px;
    display: block;
    background-color: #fff;
}
.sign_active {
    background-color: #FF7142!important;
    color: #fff;
}
.login_form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
    cursor: pointer;
}
.keep_logged {
    font-size: 15px;
}
.login_social li a {
    font-size:14px;
}
.login_social_item a{
    transition: .5s;
}
.login_social li:last-child a{
    color: #dd4b39;
}
.login_social li {
    width: 100%;
    margin-right: 8px;
}
.login_social_item:hover:first-child a{
    background-color: #3b5999;
    color:#fff;
}
.login_social_item:hover:last-child a{
    background-color: #dd4b39;
    color:#fff;
}
.login_social li:first-child a {
    color: #3b5999;
}
.social_title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 17px;
}
.login_group_forgot_pass {
    display: flex;
    justify-content: space-between;
}
.forgot_password a {
    font-size: 14px;
    color: #333;
    transition: .5s;
}
.forgot_password a:hover{
   color:#FF7142;
}
.forgot_password a {
    font-size: 14px;
    color: #333;
    transition: .5s;
}
.login_social {
    margin-bottom: 20px;
}
.sign_up_link {
    color: #FF7142;
    font-size: 14px;
    transition: .5s;
}

/*======================= Blog Page ======================*/
.blog_sidebar_title {
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}
.blog_tag li {
    display: inline-block;
    margin-right: 6px;
}
.blog_tag li a {
    padding: 2px 10px;
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    color: #333;
}
.blog_sidebar_item {
    background-color: #F7F6F9;
    padding: 30px 20px;
}
.instra_item img {
    height: 80px;
    width: 100px;
}
.instra_all {
    text-align: center;
}
.instra_item {
    display: inline-flex;
}
.instra_item:nth-child(3n) {
    margin-right: 0px!important;
}
/* ================ Blog ====================== */
.blog_search input {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}
.post_left img {
    height: 71px;
}
.post_right {
    padding-left: 10px;
}
.post_right_date {
    font-size: 14px;
    margin-bottom: 3px;
    display: inline-block;
}
.post_right_cont {
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.blog_post_tab li {
    text-transform: capitalize;
}
.blog_slider_item{
    text-align: center;
    padding-bottom:30px;
}
.blog_slider_item img {
    width: 184px!important;
    height: 174px;
    margin: 0 auto;
}
.blog_post_slider .owl-nav div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: .5s;
}
.blog_post_slider .owl-nav .owl-prev {
    margin-left: -10px;
}
.blog_post_slider .owl-nav .owl-next {
    margin-left: 20px;
}
.blog_post_slider .owl-nav div:hover {
    color:#ea450e;
}
/* Blog Right */
.blogp_img img {
    height: 400px;
}
.blog_des_subtitle {
    color: #FF7142;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}
.blog_des_title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}
.blog_des_cont {
    line-height: 25px;
}
.blog_des_hilight {
    position: relative;
    padding-left: 50px;
}
.blog_des_hilight:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    left: 38px;
    top: 0;
    background-color:#FF7142;
}
.blogp_list li {
    list-style: square;
    margin-bottom: 8px;
}
.blog_single_comment {
    display: flex;
    justify-content: space-between;
}
.blog_comment_img {
    flex: 0 0 10%;
}
.blog_comment_cont {
    flex: 0 0 87%;
}
.blog_single_comment {
    padding: 20px;
    border: 1px solid #ddd;
}
.blog_comment_title {
    display: inline-block;
}
.comment_des {
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog_comment_date {
    margin-left: 12px;
    font-size: 13px;
}
.reply_btn {
    border: none;
    background-color: transparent;
    color: #FF7142;
    font-weight: 600;
    font-size: 14px;
}
.leave_blog_reply {
    font-size: 13px;
    margin-top: 16px;
}
.leave_reply_title {
    font-size: 16px;
    margin-bottom: 10px;
}
.leave_blog_reply textarea {
    width: 310px;
    margin-bottom: 15px;
    display: block;
}
.block_btn.send_btn {
    background-color: transparent;
    color: #FF7142;
    transition: .5s;
    width: 110px!important;
    margin-right: 10px;
}
.send_btn:hover{
    background-color: #FF7142;
    color: #fff;
}
.leave_blog_reply .block_btn {
    padding: 3px 30px;
}
.blog_single_comment_reply{
    margin-left: 50px;
}
.blog_contact_form input[type="text"], .blog_contact_form input[type="email"]{
    width: 358px!important;
}
.blog_search.blog_sidebar_item {
    position: relative;
}
.blog_search i {
    position: absolute;
    top: 43px;
    right: 32px;
    cursor: pointer;
}

/* ================ Gallery ====================== */
.single_food_gallery_effct {
    opacity: 0;
    transition: .6s;
}
.single_food_gallery:hover .single_food_gallery_effct {
   opacity: 1;
}
.single_food_gallery_effct i {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 40px;
    color: #fff;
}
.gallery_effect_title {
    font-size: 20px;
    margin-top: 6px;
}
.breadcrumb_area li{
    position: relative;
}
.breadcrumb_arrow {
    padding-left: 8px;
}
.mobile-menu {
    display: none;
}

/* =======================Menu====================== */
.menu_list_item {
    padding: 20px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
     justify-content: space-between;
    margin-bottom: 30px;
}
.menu_list_search {
    display: flex;
    justify-content: flex-end;
}
.menu_list_item_area{
    position: relative;
}
.menu_list_search_area {
    margin-bottom: 30px;
}
.menu_list_item_left {
    width: 16%;
}
.menu_list_item_middle {
    width: 60%;
}
.menu_list_item_right {
    width: 14%;
    text-align: center;
}
.menu_list_item_middle_title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 8px;
}
.menu_list_item_sub {
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu_list_item_price{
    color:#FF7142;
    font-weight: bold;
    font-size: 20px;
}
.menu_list_item_middle .block_btn {
    padding: 3px 20px;
    font-size: 14px;
}
.menu_list_search_des {
    width: 30px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    background-color: red;
    display: block;
    cursor: pointer;
    color: #fff;
}
.menu_list_search {
    background-color: #F7F6F9;
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}
.menu_list_search_item select {
    height: 30px;
    font-size: 14px;
}

.menu_list_search_area {
    margin-bottom: 30px;
}
.menu_list_search_item label {
    color: #333333a3;
}
.menu_list_search_item {
    margin-right: 7px;
}
.menu_list_search_item select {
    color: #333333de;
    border-color:#ddd;
}
.menu_list_search_right {
    display: flex;
}
.all_list_grid li {
    display: inline-block;
    margin-right: 8px;
    font-size: 20px;
}
.list_grid {
    display: flex;
    align-items: center;
}
.all_list_grid li a {
    color: #212529b5;
    border-color: #ddd;
}

/* ================Menu 2====================== */
.sub-menu, .sub_menu_list{
    transform:scale(0.8);
    transition:all 0.3s ease-in-out;
    display: none;
}
.sub_menu_list li a {
    color: #212529;
    font-size: 14px;
}
.menu_list_left li {
    cursor: pointer;
}
.menu_list_type_area{
    background-color: #F7F6F9;
}
.sub_menu_list li:last-child {
    border-bottom: 0px;
}
.menu_list_type li {
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
    position: relative;
}
.menu_list_title {
    color: red;
    font-size: 18px;
    margin-bottom: 8px;
}
.menu_list_type_area select {
    width: 100%;
    padding: 3px 6px;
    border: 1px solid #ddd;
}
.menu_list_type li i {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: red;
}
.menu_list_type li i {
    position: absolute;
    top: 8px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 16px;
    border-radius: 3px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 16px;
  background: red;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

/* ============Home 2================= */
.banner_area2 {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.banner_area2:after{
    position: absolute;
    content: "";
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#000;
    opacity: .5;
}
.banner_main2 {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
}
.banner_main2 {
    color: #fff;
}
.home2_title {
    font-size: 44px;
}

/* =====================Blog Single=================*/
.blogall_item {
    background-color: #F7F6F9;
    margin-bottom: 30px;
    border: 1px solid #eae2e2;
}
.blogall_item .block_btn {
    padding: 4px 17px;
    font-size: 13px;
}
.blogall_item_title {
    font-size: 23px;
    margin-bottom: 4px;
}
.blogall_item_middle .blogp_date {
    font-size: 14px;
}
.blogall_item_sub {
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.blog-social {
    background-color: #fff;
    border: 1px solid #eae2e2;
    border-right: 0px;
}
.blog-social i {
    color: #000;
}
.blog-social li {
    text-align: center;
}
.blog-social li a {
    padding: 6px 5px;
    display: block;
    transition: .5s;
}
.blog-social li a i{
    transition: .5s;
}
.blog-social li a:hover i{
    color: #FF7142;
}
.blogall_item_left, .blog_img{
    position: relative;
    overflow: hidden;
}
.blogall_item_left img, .blog_img img {
    transition: .5s;
    height: 230px;
}
.blogall_item_left:hover img, .blog_img:hover img {
    transform: scale(1.1);
}
.blog_pagination {
    margin-bottom: 30px;
    margin-top: 20px;
}
.pagination_list li {
    display: inline-block;
}
.pagination_list li a {
    display: inline-block;
    border: 1px solid #ddd;
    color:#212529;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    margin-right: 8px;
}
.pagination_list li i {
    font-size: 11px;
}
.pagination_active a {
    color: #FF7142!important;
    border-color: #FF7142!important;
}
.profile-menu {
    position: relative;
}
.profile-nav {
    padding-right: 5px;
    cursor: pointer;
}
.profile-nav img {
    padding-right: 3px;
    width: 37px;
    display: inline-block;
}
.profile-nav-drop.auth-active-show {
    display: block;
}
.login-reg-list{
    position: relative;
}
.profile-nav-drop {
    position: absolute;
    text-align: left;
    background-color: #fff;
    top: 16px;
    left: 0;
    border-radius: 3px;
    box-shadow: 0px 3px 21px -2px rgba(149, 149, 247, 0.25);
    width: 174px;
    z-index: 9999;
    margin-top: 20px;
    padding: 12px 11px;
    border: 1px solid #f7f9fbad;
    opacity: 1;
}
.profile-nav-drop-last {
    top: 22px;
}
.profile-nav-drop {
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    display: none;
}
.profile-nav-list li i {
    padding-right: 5px;
}
.profile-nav-list li a {
    color: #333;
}
.profile-nav-list li{
    margin-bottom: 10px;
}
  /* ================Food Details================ */
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  cursor: pointer;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-wrapper{
    height:400px;
}
.swiper-wrapper-bottom{
    height:100px;
}
.food_slide{
    background-size: cover;
    height: 100%;
    width:100%;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
.food_slide1{
     background-image: url(../img/food_details6.jpg);
}
 .food_slide2{
     background-image: url(../img/food_details2.jpg);
}
 .food_slide3{
     background-image: url(../img/food_details3.jpg);
}
 .food_slide4{
     background-image: url(../img/food_details4.jpg);
}
 .food_slide5{
     background-image: url(../img/food_details5.jpg);
}
 .food_slide6{
     background-image: url(../img/food_details1.jpg);
}
 .food_slide7{
     background-image: url(../img/food_details7.jpg);
}
 .food_slide8{
     background-image: url(../img/food_details3.jpg);
}
 .food_slide9{
     background-image: url(../img/food_details6.jpg);
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 33px;
    height: 32px;
    margin-top: -22px;
}
.food_details_title {
    font-size: 24px;
}
.food_details_sub {
    margin-bottom: 9px;
}
.food_details_price {
    color: #FF7142;
    font-weight: bold;
    font-size: 20px;
}
.food_details_list li {
    margin-bottom: 9px;
}
.food_details_list {
    list-style: lower-roman;
    padding-left: 20px;
}
.more_related_title {
    font-size: 24px;
}
.related_item {
    margin-bottom: 30px;
}
.related_item_img {
    border: 7px solid #ece3e36b;
    margin-bottom: 11px;
}
.related_item_title {
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 23px;
}
.related_item_sub {
    font-size: 14px;
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.related_item_title {
    margin-bottom: 4px;
    font-size: 19px;
}
.related_item_img img {
    height: 205px;
}
/* Home 3 */
.notification_title {
    color: #333;
    font-size: 15px;
    padding-top: 10px;
}
.notification {
    display: flex;
}
.notification_left {
    flex: 0 0 40px;
}
.notification_right {
    padding-left: 7px;
}
.profile-nav i {
    font-size: 25px;
}
.navi-list i {
    font-size: 16px;
}
.navi-list {
    position: relative;
}
.navi-list small {
    position: absolute;
    top: -8px;
    font-size: 13px;
}
.navi-list i {
    font-size: 16px!important;

}
.sub_menu_list li a {
    font-size: 13px;
}

/* Reservation Payment start */
.form-box {
    text-align: left;
}
.payment_area_overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s linear;
    z-index: 999;
}
.payment_area {
    background: #fff;
    position: relative;
    max-width: 526px;
    width: 100%;
    height: fit-content;
   /* overflow-y: auto;*/
    top: 0;
    left: 0;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 3px;
    box-shadow: -1px 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    opacity: 0;
    padding: 30px 28px;
    max-height: 465px;
}
.payment_toggle {
    float: right;
    margin-bottom: 14px;
    font-size: 20px;
    cursor: pointer;
}
.payment_modal_fadeIn {
    opacity: 1;
    visibility: visible;
}
.payment_modal_show {
    transform: translate(0, 10%);
    opacity: 1;
}
.reservation-btn {
    text-align: right;
}
.advanced_payment {
    position: absolute;
    bottom: 45px;
    left: 60px;
    background-color: #202020a8;
    border-color: #20202026;
}
.payment_title {
    margin-top: 22px;
    margin-bottom: 29px;
    display: block;
}
/* Reservation Payment end */
.food_slider .owl-nav div {
    width: 35px;
    height: 35px;
    background-color: #FF7142;
    line-height: 35px;
    text-align: center;
    color: #fff;
    left: -28px;
    top: 40%;
    position: absolute;
    transform: translateY(-50%);
    transition: .5s;
}
.food_slider .owl-nav div:hover {
    background-color: #FF7142;
 }
.food_slider .owl-nav div.owl-next {
    right: -28px;
    left: auto;
}
.active-food{
    background-color:#FF7142 !important;
    color:#fff!important;
}
.menu_grid_active a i{
    color:#FF7142;
}
.all_list_grid li a{
    transition: .5s;
}
.all_list_grid li a:hover{
    color:#FF7142;
}
.video-popup {
    position: relative;
    background-color: #FF7142;
    width: 80px;
    height: 56px;
    border: 12px solid #e85422b5;
    border-radius: 0px;
    font-size: 13px;
    color: #fff;
    line-height: 30px;
}

/* Video POpup */
.video_area_overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s linear;
    z-index: 999;
}
.video_area {
    background: #fff;
    position: relative;
     width: 580px; 
    top: 20%;
    left: 0;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 3px;
    box-shadow: -1px 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    opacity: 0;
    padding: 34px;
    height: 365px;
}
.video_toggle {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 8px;
}
.video_area_overlay video {
    width: 100%;
    height: 300px;
}
.video_modal_fadeIn {
    opacity: 1;
    visibility: visible;
}
.video_modal_show {
    transform: translate(0, 10%);
    opacity: 1;
}




.video_area iframe{
    width:100%;
    height:200px;
}




.menu3_list_item_left {
    width: 30%;
}
.menu3_list_item_sub {
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu3_list_item_price {
    color: #FF7142;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.menu3_list_item_middle {
    width: 64%;
}
.menu3_list_item_middle .block_btn{
    font-size: 13px;
}
.menu3_list_item_left img {
    height: 110px;
    width: 104px;
}



.navbar_home .sub-menu {
    margin-top: 23px;
}





.login_header_area .menu_area {
    position: static;
}